*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: 80px;
    background-color: #027efd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: white;
    position: fixed;
    padding: 0 80px ;
    z-index: 1000; 
    }

.button1{
    background-color: white;
    color: #027efd;
    border: 0; 
    border-radius: 30px;
    padding: 10px;
    font-family: 'inter';

}

.head {
    color: #027efd;
    font-size: 80px;
    padding-top: 180px ;
    font-family: 'inter';
    font-weight: 300;
    gap: 17px;

}

.house{
    gap: 20px;
    padding: 70px;
    
}

.home1{
    height: 350px;
    width: 350px;
}

.paragraph1{
    font-Family: 'inter';
    font-weight: 300;
    font-size: 25px;
}

.center{
    display: flex;
    justify-content: center;
}

.button2{
    background-color: #027efd;
    color: white;
    border: 0; 
    border-radius: 10px;
    margin-top: 50px;
    padding: 10px 20px;
    font-family: 'inter';
    font-size: 20px;
}

.choose1{
    color: #027efd;
    font-family: 'inter';
    font-weight: 300;
    font-size: 40px;
    margin-top: 150px;
    padding-top: 150px;
    
}
 .c1-bg{
    background-color: #f8fbff;
    height: 900px;
 }

.paragraph2{
    font-Family: 'inter';
    font-weight: 300;
    font-size: 25px;
    padding-top: 30px;
}

.choosee{
    gap: 30px;
}

.choosee_title{
    font-family: 'inter';
    font-weight: 500;
    font-size: 19px;
    padding-top: 10px;
}

.choosee_body{
    font-family: 'inter';
    font-weight: 300;
    font-size: 18px;
    padding-top: 10px;
}

.choosee1{
    padding-top: 80px;
    height: 300px;
    width: 350px;
}

.flex-container{
    background-color: #027efd;
    display: flex;
    height: 700px;
}

.grid-container{
    display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  /* height: 100vh; */
  margin-bottom: 200px;
}

.download_title{
    color: white;
    font-family: 'inter';
    font-weight: 400;
    font-size: 60px ;
 

}

.download_text{
    color: white;
    font-family: 'inter';
    font-weight: 300;
    font-size: 25px;
    padding-top: 20px;

}


.left{
    margin-top: 150px;
    max-width: 350px;
    margin-left: 150px;
  }

.right {
    margin-top: 100px;
    margin-left:149px;
}

.footer-bg {
    background-color: black;
    height: 50vh;
    display: flex;
    position: relative;
    z-index: 1;
}

.footer-bg a{
    text-decoration: none;
    font-size: 18px; 
    font-weight: 300;
    font-family: 'inter';
    color: white;
    margin-bottom: 10px;
}

.footer-bg p{
    font-size: 18px; 
    font-weight: 400;
    font-family: 'inter';
    color: white;
}

.footer1{
    margin-left: 40px;
}

.footer-body{
    margin-left: 20px;
}

  .grid-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px; 
    /* padding: 50px; */
    margin-top: 50px;
  }
  
  